@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #202020;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  height: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}
button {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}